<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvard Picture</title>
</head>
<body>
    <P>Harvard Art Museums</P>
    <P><%= locals.data.date %></P>
    <P><%= data.copyright %></P>
    <img src="<%= data.baseimageurl %>">
    

</body>
</html>